body {
    background-color: #2e2e2e;
}

div.div-difference-list {
    background-color: #252525;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    height: fit-content;
    overflow: hidden;
    width: calc(50% - 44px);
    position: absolute;
}

div#div-difference-list-1 {
    left: 0;
}

div#div-difference-list-2 {
    left: 50%;
}

div.div-difference-list > div.div-item {
    border-radius: 10px;
    height: fit-content;
    overflow: hidden;
    width: 100%;
    position: static;
}

div.div-difference-list > div.div-item:not(:first-child) {
    margin-top: 10px;  
}

div.div-difference-list > div.div-item-added {
    background-color: #303f2c;
}

div.div-difference-list > div.div-item-changed {
    background-color: #e0d6b8;
}

div.div-difference-list > div.div-item-removed {
    background-color: #481e18;
}

div.div-difference-list > div.div-item > button.button-content-expand {
    height: 20px;
    position: relative;
    width: 100%;
}

div.div-difference-list > div.div-item > div.div-change-list {
    height: 20px;
    position: relative;
    top: 20px;
    width: 100%;
}

div.div-difference-list > div.div-item > div.div-change-list > p.p-change-text {
    height: 20px;
    text-align: left;
    position: relative;
}